{% extends "firm/base.html" %}
{% block LeftPanel %}
    <li><a href="/firm/project/"><i class="icon-interface-windows"></i>管理</a></li>
    <li><a href="/firm/salary/"> <i class="icon-home"></i>工资发放 </a></li>
    <li class="active"><a href="/firm/set/"> <i class="icon-grid"></i>设置 </a></li>
{% endblock %}

{% block MainPanel %}

    <div class="btn-group set" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-lg">企业信息</button>
        <button type="button" class="btn btn-default btn-lg">账号安全</button>
    </div>
    <div class="information container">
        <!-- 企业信息-->
        <div class="show firmInfo col-lg-10">
            <div class="card">
{#                <div class="card-close">#}
{#                    <div class="dropdown">#}
{#                        <button type="button" id="closeCard1" class="edit"><i class="fa fa-gear"></i>编辑</button>#}
{#                    </div>#}
{#                </div>#}
                <div class="card-header">
                    <img src="" alt="">
                </div>
                <div class="card-body no-padding">
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>企业名称</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.cname }}</div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>简称</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.shortname }}</div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>英文名</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.ename }}</div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>办公地址</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.address }}</div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>电话</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.tel }}</div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>邮箱</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.email }}</div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>注册地址</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.createaddress }}</div>
                    </div>
                    <!-- Item-->
                    <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                            <div class="title">
                                <h5>注册时间</h5>
                            </div>
                        </div>
                        <div class="info text-right">{{ company.createtime|date:"Y-m-d" }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 账号安全信息-->
        <div class="count col-lg-8">
            <div class="card">
                <div class="list-group">
                    <a href="/updatecode/" class="list-group-item">修改密码</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}