<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>云简安</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/web/css/base.css">
    <link rel="stylesheet" href="/static/web/css/vendor.css">
    <link rel="stylesheet" href="/static/web/css/main.css">


    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/web/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/web/img/favicon.ico" type="image/x-icon">



</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="row">
            <div class="header-logo">
                <a class="site-logo" href="/introduce/" >
                    <img style="width: 220px;height: 120px;" src="/static/web/img/YunJianAn.png" alt="Homepage">
                </a>
            </div>

            <nav class="header-nav-wrap">
                <ul class="header-main-nav">
                    <li class="current"><a class="smoothscroll" href="#home" title="intro">首页</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">关于产品</a></li>
                    <li><a class="smoothscroll" href="#download" title="download">下载</a></li>
                    <li><a href="/register/" title="singe">注册</a></li>
                    <li><a href="/login/" title="login">登录</a></li>
                </ul>

                <div class="header-cta">
                    <a href="#download" class="btn btn--primary header-cta__btn smoothscroll">下载APP</a>
                </div>
            </nav> <!-- end header-nav-wrap -->

            <a class="header-menu-toggle" href="#"><span>菜单</span></a>
        </div>

    </header> <!-- end header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <div class="home-content__left">
                    <h1>
                    云简安 <br>
                        基于人工智能(YOVO3)的工程安全一体化监测平台
                    </h1>


                    <div class="home-content__btn-wrap">
                        <a href="#download" class="btn btn--primary home-content__btn smoothscroll">
                            下载云简安
                        </a>
                    </div>
                </div> <!-- end home-content__left-->

                <div class="home-content__right">
                    <img src="/static/web/images/hero-app-screens-800.png" srcset="/static/web/images/hero-app-screens-800.png 1x, images/hero-app-screens-1600.png 2x">
                </div> <!-- end home-content__right -->

            </div> <!-- end home-content__main -->


        </div> <!-- end home-content -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll</span>
            <span class="home-scroll__icon"></span>
        </a>

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1">
                    基于人工智能的视觉识别技术
                </h1>
                <p class="lead">
                    围绕安全帽智能化、远距离无线传输检测信号、智能显示安全级别、自动发出警告这 三点展开项目规划，设计出一套基于物联网技术的可用于特种应用的智能安全帽系统，包括监控管理平台、智能监测器和传输系统三大部分。
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row wide about-desc" data-aos="fade-up">

            <div class="col-full slick-slider about-desc__slider">

                <div class="about-desc__slide">
                    <h3 class="item-title">准确</h3>

                    <p>
                        底层使用C++进行开发，用C语言编写神经网络，后用动态库，及静态库进行函数包装，并实施VM加密。后台稳定性强，且实行加密。采用12000张头盔及人体训练样本，在江苏超级计算机平台进行训练，训练过后对网络进行调参，使其具有良好的数据表现以及较好的参数表现。
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">智能</h3>

                    <p>
                        本项目基于深度学习开展工作，使用Yolo-V3深度神经网络进行物体的检测，该网络方法多用于实际工程。为保证工程效率以及实用性，项目底层使用C++进行开发，用C语言编写神经网络，后用动态库，及静态库进行函数包装，并实施VM加密。
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">实用</h3>

                    <p>
                        此项目能很好地提高作业人员的安全性，加强他们按规则操作、正确穿戴防护用品的意识，做到施工地与生产车间相对安全。杜绝越权限进入工作场所、违章操作、未正确穿戴劳保用品、操作失误或忽视安全警告等行为出现。
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">可靠</h3>

                    <p>
                        采用物联网RFID对应检测，保证一人一码，便于实名制监控。再将检测到的情况传至管理界面，进行考核。其中管理端app可同时查看多个界面（即管理者可用手机观看不同各地区作业人员的智能安全帽佩戴情况以及各区域的安全级）。
                    </p>
                </div>  <!-- end about-desc__slide -->

            </div> <!-- end about-desc__slider -->

        </div> <!-- end about-desc -->

    </section> <!-- end s-about -->


    <!-- about-how
    ================================================== -->
    <section id="about-how" class="s-about-how">

        <div class="row">
           <div class="col-full video-bg" data-aos="fade-up">

                <div class="shadow-overlay"></div>

                <a class="btn-video" href="https://player.vimeo.com/video/14592941?color=00a650&title=0&byline=0&portrait=0" data-lity>
                    <span class="video-icon"></span>
                </a>

                <div class="stats">
                    <div class="item-stats">
                        <span class="item-stats__num">
                            3.1M
                        </span>
                        <span class="item-stats__title">
                            Downloads
                        </span>
                    </div> <!-- end item-stats -->
                    <div class="item-stats">
                        <span class="item-stats__num">
                            24K
                        </span>
                        <span class="item-stats__title">
                            Positive Reviews
                        </span>
                    </div> <!-- end item-stats -->
                </div>
           </div> <!-- end video-bg -->
        </div>

        <div class="row process-wrap">

            <h2 class="display-2 text-center" data-aos="fade-up">产品介绍</h2>

            <div class="process" data-aos="fade-up">
                <div class="process__steps block-1-2 block-tab-full group">

                    <div class="col-block step">
                        <h3 class="item-title">智能安全帽</h3>
                        <p>智能安全帽总分为两部分，管理端监测端。监测端由摄像头和智能安全帽构成，二者共同作用。监测端则统计信息，给管理员最直观的区域安全等级，一眼看见存在的安全隐患。
                        </p>
                    </div>

                    <div class="col-block step">
                        <h3 class="item-title">技术支持</h3>
                        <p>采用物联网RFID对应检测，保证一人一码，便于实名制监控。再将检测到的情况传至管理界面，进行考核。其中管理端app可同时查看多个界面（即管理者可用手机观看不同各地区作业人员的智能安全帽佩戴情况以及各区域的安全级）。
                        </p>
                    </div>

                    <div class="col-block step">
                        <h3 class="item-title">管理控制平台</h3>
                        <p>管理控制平台由手机端及其云端服务器构成，是云端与手机端结合开发的摄像头监控控制、数据存储平台。数据通过云端服务器与安全帽及手机进行交互，拥有多区域分化、多功能管理、实时状态监测、实时环境监测、数据处理记录等功能，可同时在手机上对监控设备进行远程管理，操作简易，可用于生产车间以及施工地的安全管控。
                        </p>
                    </div>

                    <div class="col-block step">
                        <h3 class="item-title">监测系统</h3>
                        <p>安全帽监测安全人数和危险人数，安装在作业场地的摄像头将图片传至项目部，再汇总到管理员手中。智能安全帽还可以将出勤情况反馈到管理员手中，汇总到企业，由企业进行职工的工资发放，也可对未正规佩戴安全帽的人员进行罚款等。
                        </p>
                    </div>

                </div> <!-- end process__steps -->
           </div> <!-- end process -->
        </div> <!-- end about-how -->

    </section> <!-- end s-about-how -->


    <!-- download
    ================================================== -->
    <section id="download" class="s-download target-section">

        <div class="row section-header align-center" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1">
                    超过3,000,000 用户加入我们
                </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row">
            <div class="col-full text-center">
                <ul class="download-badges" data-aos="fade-up">
                    <li><a href="#0" title="" class="badge-appstore">App Store</a></li>
                    <li><a href="#0" title="" class="badge-googleplay">Play Store</a></li>
                </ul>
            </div>
        </div>

        <div class="row download-bottom-image" data-aos="fade-up">
            <img src="/static/web/images/app-screen-1400.png"
                srcset="/static/web/images/app-screen-600.png 600w,
                        /static/web/images/app-screen-1400.png 1400w,
                        /static/web/images/app-screen-2800.png 2800w"
                sizes="(max-width: 2800px) 100vw, 2800px"
                alt="App Screenshots">
        </div>

    </section> <!-- end s-download -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row section-header align-center">
            <div class="col-full">
                <h1 class="display-1">
                    让我们保持联系.
                </h1>
                <p class="lead">
                订阅更新，特别优惠，和其他惊人的东西
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row footer__top">

            <div class="col-full footer__subscribe end">
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate>

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                        <input type="submit" name="subscribe" value="Sign Up">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>
            </div>

        </div> <!-- end footer__top -->

        <div class="row footer__bottom">

            <div class="footer__about col-five tab-full left">

                <h4>关于 云简安</h4>

                <p>
                    我们将项目的智能安全帽简称“云简安”。顾名思义，采取新技术在云端记录数据，简单操作，只为安全。
                    是利用监控设备和自备的程序控制装置监测施工人员或作业人员的安全情况。采用智能安全帽进行监督，具节省劳力、效率高、效果好等特点，
                    相比普通或者其他的一般智能安全帽有特别明显的优势。
                </p>

            </div>

            <div class="col-five md-seven tab-full right end">
                <div class="row">

                    <div class="footer__site-links col-five mob-full">
                        <ul class="footer__site-links">
                            <li><a href="#home" class="smoothscroll">介绍</a></li>
                            <li><a href="#about" class="smoothscroll">关于产品</a></li>
                            <li><a href="#download" class="smoothscroll">下载</a></li>
                            <li><a href="#0">隐私权政策</a></li>
                        </ul>
                    </div>

                    <div class="footer__contact col-seven mob-full">
                        <h4>联系我们</h4>

                        <p>
                        Phone: 666 6666
                        </p>
                        <p>
                        需要帮助或者有问题？ 联系我们: <br>
                        <a href="mailto:#0" class="footer__mail-link">88888888@163.com</a>
                        </p>
                    </div>

                </div>
            </div>

        </div> <!-- end footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="/static/web/vendor/jquery/jquery.min.js"></script>
    <script src="/static/web/js/plugins.js"></script>
    <script src="/static/web/js/index.js"></script>

</body>